@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


html {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
}


.send-button {
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    margin-top: 15%;
    border: none;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #0059b3, transparent) #2196f3;
    transition: all 0.3s ease;
    color: #fff;
    padding-left: 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0059b3;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 60px;
    list-style-type: none;
    background: -webkit-linear-gradient(left, #0059b3, #0073e6);
    overflow: hidden;
    transition: width .3s;
    z-index: 2;
}

.side-menu:hover {
    width: 300px;
}

.side-menu li {
    width: 300px;
}

.side-menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
}

.side-menu li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
    height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
    background: #01478d;
    display: block;
}

@media (max-aspect-ratio: 1/1) {
    .container {
        padding: 15%;
        padding-left: 25%;
        margin: 15% auto;
        width: auto;
    }

    .send-button {
        margin-top: 30%;
    }
}